#@layout()

#define main()
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">添加机器人</h3>
    </div>
    <div class="panel-body">
        <div class="well" ><span style="color: red">为了确保机器人唯一性，请确保信息真实对应！</span></div>
        <div>
            <form class="form-horizontal"  id="addRobForm">
                <div class="form-group">
                    <label for="remark" class="col-sm-2 control-label">机器人备注:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="remark" name="remark" placeholder="请填写机器人备注" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-8 col-sm-2">
                        <button type="reset" class="btn btn-default btn-lg btn-block" >重置</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="openAddModel()">提交</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addPostModalLabel">确认添加机器人</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="addPost()">确认</button>
            </div>
        </div>
    </div>
</div>

#end

#define css()
<!--<link href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">-->
<link href="/assets/css/bootstrapValidator.min.css" rel="stylesheet">
#end

#define js()
<!--<script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/language/zh_CN.min.js"></script>-->
<script src="/assets/js/bootstrapValidator.min.js"></script>
<script src="/assets/js/lang/bootstrapValidator_zh_CN.js"></script>
<script type="text/javascript">
    var addRobValid;

    $(function () {
        addRobValid = $('#addRobForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                remark: {
                    validators: {
                        notEmpty: {
                            message: '备注不能为空'
                        }
                    }
                }
            }
        });

    });

    function openAddModel() {
        addRobValid.bootstrapValidator('validate');
        if ( $("#addRobForm").data('bootstrapValidator').isValid()){
            // 显示模态框
            $('#addPostModal').modal('show');
        }
    }


    function addPost() {
        addRobValid.bootstrapValidator('validate');
        if ( $("#addRobForm").data('bootstrapValidator').isValid()){

            var fv = $('#addRobForm').serializeObject();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/rob/addRob" ,
                data: JSON.stringify(fv),
                contentType: "application/json",
                success: function (result) {
                    $('#addPostModal').modal('hide');
                    if (result.code == '00'){
                        bootbox.alert(result.message);
                    } else{
                        bootbox.alert("请求异常:"+result.message);
                    }
                },
                error : function() {
                    $('#addPostModal').modal('hide');
                    bootbox.alert("请求异常!");
                }
            });
            $("#addRobForm").data('bootstrapValidator').resetForm(true);
        }
    }

</script>
#end