#@layout()

#define main()
<div>
    <form class="form-inline" >
        <div class="form-group">
            <label for="search_unique_key">唯一码</label>
            <input type="text" class="form-control" id="search_unique_key">
        </div>
        <div class="form-group">
            <label for="search_remark">备注</label>
            <input type="text" class="form-control" id="search_remark" placeholder="右模糊查询">
        </div>
        <div class="form-group">
            <label for="search_enable">是否已启用</label>
            <select class="form-control" id="search_enable" aria-describedby="search_enable">
                <option value="" >全部</option>
                <option value="true" selected="selected">是</option>
                <option value="false">否</option>
            </select>
        </div>
    </form>
</div>

<div class="tableBody">
    <div id="toolbar">
        <button type="button" class="btn btn-primary" id="searchPost">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜索
        </button>
        <a type="button" class="btn btn-primary" href="/rob/addIndex"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加机器人</a>
        <button type="button" class="btn btn-primary" id="manualCopy">
            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>持久化热登信息
        </button>
    </div>
    <table id="rob_config" class="table table-hover" ></table>
</div>

<div class="modal fade bs-example-modal-sm" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="qrModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="qrModalLabel">请尽快用手机微信扫码确认登录</h4>
            </div>
            <div class="modal-body">
                <h5 id="wxqr_nickname" style="color:red"></h5>
                <img id="wxqrimg" src="/assets/fileinput/img/loading.gif" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>
#end

#define css()
<link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet">
<link href="/assets/css/bootstrap-switch.min.css" rel="stylesheet">
#end

#define js()
<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/assets/js/bootstrap-switch.min.js"></script>
<script type="text/javascript">

    var search_url = "/rob/list";
    // 保存定时器ID
    var tid = null;
    $(document)
        .ready(
            function() {

                $('#rob_config').bootstrapTable(
                        {
                            method : 'post',// post/get
                            contentType : "application/x-www-form-urlencoded",// 'application/json'
                            undefinedText : '暂无数据',
                            striped : true,// 隔行变色true/false
                            dataType : 'json',
                            url : search_url,//接口路径
                            pagination : true,// 是否开启分页
                            pageNumber : 1,// 初始化加载第一页，默认第一页
                            pageSize : 10,// 每页的记录行数（*）
                            pageList : [ 10, 20, 30 ],// 可供选择的每页的行数（*）
                            sidePagination : "server", // 分页方式：client客户端分页，server服务端分页（*）
                            queryParams : function queryParams(
                                params) {

                                params.remark = $('#search_remark').val();
                                params.uniqueKey = $('#search_unique_key').val();
                                params.enable = $('#search_enable').val();

                                return params;// 分页下默认limit,offset,order
                            },// 查询函数
                            queryParamsType : 'limit',
                            locale : 'zh-CN',// 中文支持
                            showColumns : 'true',
                            showRefresh : 'true',
                            sortOrder : 'desc',//默认排序
                            // showPaginationSwitch:'true',
                            clickToSelect : 'true',// 是否启用点击选中行
                            toolbarAlign : 'left',
                            buttonsAlign : 'right',// 按钮对齐方式
                            paginationPreText : "<",// 上一页按钮显示文本
                            paginationNextText : ">",// 下一页显示文本
                            paginationLoop : false,// 分页无限循环
                            showToggle : false,// 显示
                            // 切换试图（table/card）按钮
                            detailView : false,
                            detailFormatter : function(index, row) {// detailView要改成true时,用于查看更多信息,点击列头加号展开

                                return '';
                            },
                            toolbar : "#toolbar",
                            columns : [

                                {
                                    field : 'id',
                                    title : '编号',
                                    align : 'center',
                                    valign : 'middle',
                                },
                                {
                                    field : 'uniqueKey',
                                    title : '唯一机器码',
                                    align : 'center',
                                    valign : 'middle',
                                },
                                {
                                    field : 'remark',
                                    title : '备注',
                                    align : 'center',
                                    valign : 'middle',
                                },
                                {
                                    field : 'active',
                                    title : '在线操作',
                                    align : 'center',
                                    valign : 'middle',
                                    formatter : function(value,
                                                         row, index) {
                                        var result = "";
                                        switch(value)
                                        {
                                            case true:
                                                var btn = "<button type='button' class='btn btn-danger btn-xs' onclick='wxlogout(\""+row['uniqueKey']+"\",\""+row['remark']+"\")'>已在线-退出</button>";
                                                var refresh_1 = "<button type='button' class='btn btn-info btn-xs' onclick='refresh_data(\""+row['uniqueKey']+"\")'>刷新群列表</button>";
                                                var group_1 = "<button type='button' class='btn btn-warning btn-xs' onclick='openGroup(\""+row['uniqueKey']+"\")'>查看群列表</button>";
                                                // var btn_reboot = "<button type='button' class='btn btn-danger btn-xs' onclick='wxReboot(\""+row['uniqueKey']+"\",\""+row['remark']+"\")'>重&nbsp;&nbsp;启</button>";
                                                result = btn+refresh_1+group_1;
                                                break;
                                            case false:
                                                var btn = "<button type='button' class='btn btn-primary btn-xs' onclick='wxloginPost(\""+row['uniqueKey']+"\",\""+row['remark']+"\")'>已下线-登录</button>";
                                                result = btn;
                                                break;
                                            default:
                                                result = "异常";
                                        }
                                        var element = "<div class='btn-group-vertical btn-group-xs ' role='group'>"
                                            + result
                                            + "</div>";
                                        return element;
                                    }
                                },
                                {
                                    field : 'tool',
                                    title : '编辑',
                                    align : 'center',
                                    valign : 'middle',
                                    formatter : function(value,
                                                         row, index) {
                                        // 此处应根据需求修改
                                        var bt_remark_edit = "<button type='button' class='btn btn-default' onclick='openEditRemark(\""+row.id+"\",\""+row.remark+"\")'>修改备注</button>";
                                        var bt_key = "<a  type='button' class='btn btn-info' href='/kw?uk="+row.uniqueKey+"'>查看关键字</a>";
                                        var bt_add_key = "<a  type='button' class='btn btn-primary' href='/kw/editIndex?uk="+row.uniqueKey+"'>新增关键字</a>";
                                        var bt_relate = "<a class='btn btn-warning btn-xs' href='/relate?uk="+row.uniqueKey+"' >查看外接配置</a>";
                                        var bt_add_relate = "<a class='btn btn-success btn-xs' href='/relate/editIndex?uk="+row.uniqueKey+"' >新增外接配置</a>";

                                        var element = "<div class='btn-group-vertical btn-group-xs ' role='group'>"
                                            + bt_remark_edit
                                            + bt_key
                                            + bt_add_key
                                            + bt_relate
                                            + bt_add_relate
                                            + "</div>";
                                        return element;
                                    }
                                },
                                {
                                    field : 'enable',
                                    title : '是否启用',
                                    align : 'center',
                                    valign : 'middle',
                                    formatter : function(value,
                                                         row, index) {
                                        var result = "";
                                        var diff = "";
                                        if (value){
                                            diff = " checked ";
                                        }
                                        result = "<input name='my-checkbox' type='checkbox' data-nickname='"+row['remark']+"' data-rid='"+row['id']+"' data-type='enable' data-typename='启禁开关' "+ diff +" >";
                                        return result;
                                    }
                                },
                                {
                                    field : 'fromOut',
                                    title : '允许对外接口',
                                    align : 'center',
                                    valign : 'middle',
                                    formatter : function(value,
                                                         row, index) {
                                        var result = "";
                                        var diff = "";
                                        if (value){
                                            diff = " checked ";
                                        }
                                        result = "<input style='width: 130px' name='my-checkbox' type='checkbox' data-nickname='"+row['remark']+"' data-rid='"+row['id']+"' data-type='fromout' data-typename='对外接口开关' "+ diff +" >";
                                        return result;
                                    }
                                },
                                {
                                    field : 'toGroup',
                                    title : '回复群',
                                    align : 'center',
                                    valign : 'middle',
                                    formatter : function(value,
                                                         row, index) {
                                        var result = "";
                                        var diff = "";
                                        if (value){
                                            diff = " checked ";
                                        }
                                        result = "<input name='my-checkbox' type='checkbox' data-nickname='"+row['remark']+"' data-rid='"+row['id']+"' data-type='togrp' data-typename='回复群聊开关' "+ diff +" >";
                                        return result;
                                    }
                                },
                                {
                                    field : 'toFriend',
                                    title : '回复好友',
                                    align : 'center',
                                    valign : 'middle',
                                    formatter : function(value,
                                                         row, index) {
                                        var result = "";
                                        var diff = "";
                                        if (value){
                                            diff = " checked ";
                                        }
                                        result = "<input name='my-checkbox' type='checkbox' data-nickname='"+row['remark']+"' data-rid='"+row['id']+"' data-type='tofrd' data-typename='回复好友开关' "+ diff +" >";
                                        return result;
                                    }
                                },
                                {
                                    field : 'defaultGroup',
                                    title : '默认回复群',
                                    align : 'center',
                                    valign : 'middle',
                                    formatter : function(value,
                                                         row, index) {
                                        var result = "";
                                        var diff = "";
                                        if (value){
                                            diff = " checked ";
                                        }
                                        result = "<input name='my-checkbox' type='checkbox' data-nickname='"+row['remark']+"' data-rid='"+row['id']+"' data-type='default_group' data-typename='全局群聊默认关键字回复开关' "+ diff +" >";
                                        return result;
                                    }
                                },
                                {
                                    field : 'defaultFriend',
                                    title : '默认回复好友',
                                    align : 'center',
                                    valign : 'middle',
                                    formatter : function(value,
                                                         row, index) {
                                        var result = "";
                                        var diff = "";
                                        if (value){
                                            diff = " checked ";
                                        }
                                        result = "<input name='my-checkbox' type='checkbox' data-nickname='"+row['remark']+"' data-rid='"+row['id']+"' data-type='default_friend' data-typename='全局好友默认关键字回复开关' "+ diff +" >";
                                        return result;
                                    }
                                }
                            ],
                            onLoadSuccess:function(){
                                $("[name='my-checkbox']").bootstrapSwitch({
                                    onText:"已开启",
                                    offText:"已关闭",
                                    onColor:"success",
                                    offColor:"danger",
                                    size:"mini",
                                    labelWidth:0,
                                    onSwitchChange:function(event,state){
                                        var data_map = event.currentTarget.dataset;
                                        var rid = data_map.rid;
                                        var nickname = data_map.nickname;
                                        var type = data_map.type;
                                        var typename = data_map.typename;
                                        var statename = "关闭";
                                        if (state){
                                            statename = "打开";
                                        }
                                        bootbox.confirm("<h4>确定 【"+statename+"】【"+nickname+"】的【"+ typename +"】吗？</h4>",function(result){
                                            if (result){
                                                $.ajax({
                                                    type: "POST",
                                                    dataType: "json",
                                                    url:"/rob/change",
                                                    data:JSON.stringify({
                                                        rid : rid,
                                                        type : type,
                                                        state : state
                                                    }),
                                                    contentType: "application/json; charset=utf-8",
                                                    success:function(result){
                                                        if (result.code == '00'){
                                                            bootbox.alert(result.message);
                                                        } else{
                                                            bootbox.alert("错误！"+result.message);
                                                        }
                                                        refreshTable();
                                                    },
                                                    error : function() {
                                                        bootbox.alert("请求异常");
                                                        refreshTable();
                                                    }
                                                });
                                            }else{
                                                // 防止显示按钮与数据不统一
                                                refreshTable();
                                            }

                                        });
                                    }
                                });
                            }

                        });

                // 查询按钮事件
                $('#searchPost').click(function() {
                    $('#rob_config').bootstrapTable('refresh', {
                        url : search_url
                    });
                });

                $('#manualCopy').click(function () {
                    bootbox.confirm("<h4>确定备份登录信息吗？</h4>",function(result){
                        if (result){
                            $.ajax({url:"/robwk/manualCopy",
                                success:function(result){
                                    if (result.code == '00'){
                                        bootbox.alert(result.message);
                                    } else{
                                        bootbox.alert("错误！"+result.message);
                                    }
                                },
                                error : function() {
                                    bootbox.alert("请求异常");
                                }
                            });
                        }

                    });
                })
            });

    function openGroup(uniqueKey) {
        $.ajax({url:"/robwk/getGroupNickNames?_ck="+uniqueKey,
            success:function(result){
                if (result.code == '00'){
                    var listData = "<ul class=\"list-group\">";
                    listData += "<li class=\"list-group-item\">群名列表:</li>";
                    for(let index in result.data) {
                        listData += "<li class=\"list-group-item\">"+result.data[index]+"</li>";
                    };
                    listData += "</ul>";
                    bootbox.alert(listData);
                } else{
                    bootbox.alert("错误！"+result.message);
                }
            },
            error : function() {
                bootbox.alert("请求异常");
            }
        });
    }

    function refresh_data(uniqueKey) {
        bootbox.confirm("<h4>确定刷新【"+uniqueKey+"】吗？</h4>",function(result){
            if (result){
                bootbox.dialog({ message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i>加载数据中,请耐心等待...</div>' });
                $.ajax({url:"/robwk/gct?_ck="+uniqueKey,
                    success:function(result){
                        if (result.code == '00'){
                            $.ajax({url:"/robwk/ggp?_ck="+uniqueKey,
                                success:function(result){
                                    bootbox.hideAll();
                                    if (result.code == '00'){
                                        bootbox.alert(result.message);
                                    } else{
                                        bootbox.alert("错误！"+result.message);
                                    }
                                },
                                error : function() {
                                    bootbox.hideAll();
                                    bootbox.alert("请求异常");
                                }
                            });


                        } else{
                            bootbox.hideAll();
                            bootbox.alert("错误！"+result.message);
                        }
                    },
                    error : function() {
                        bootbox.hideAll();
                        bootbox.alert("请求异常");
                    }
                });
            }

        });
    }

    // 退出登录
    function wxlogout(key,name) {
        bootbox.confirm("<h4>确定退出【"+name+"】吗？</h4>",function(result){
            if (result){
                $.ajax({url:"/robwk/logout?_ck="+key,
                    success:function(result){
                        if (result.code == '00'){
                            refreshTable();
                        } else{
                            bootbox.alert("错误！"+result.message);
                        }
                    },
                    error : function() {
                        bootbox.alert("请求异常");
                    }
                });
            }

        });

    };

    function wxReboot(key,name) {
        // bootbox.confirm("<h4>确定退出【"+name+"】吗？</h4>",function(result){
        //     if (result){
        //         bootbox.dialog({ message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i>重启【'+name+'】中,请耐心等待...</div>' })
        //         $.ajax({url:"/robwk/reboot?_ck="+key,
        //             success:function(result){
        //                 if (result.code == '00'){
        //                     bootbox.hideAll();
        //                     refreshTable();
        //                 } else{
        //                     bootbox.alert("错误！"+result.message);
        //                 }
        //             },
        //             error : function() {
        //                 bootbox.alert("请求异常");
        //             }
        //         });
        //     }
        //
        // });
    }

    //延迟执行函数
    function debounce(fn,wait){
        //设定默认的延迟时间
        wait=wait||500;
        //清除定时器
        tid && clearTimeout(tid);
        //定时器执行
        tid=setTimeout(fn,wait);
    }

    // 登入请求
    function wxloginPost(key,name) {
        //清理之前数据
        clearQrModel();
        // 弹窗二维码
        $('#qrModal').modal('show');
        $('#wxqr_nickname').html("请确保使用该微信账号："+name);
        $.ajax({
            url: "/robwk/getQr?_r=" + Math.random() + "&_ck=" + key,
            success: function (result) {
                if (result.code == '00'){
                    $("#wxqrimg").attr("src", result.data);
                    login(key);
                }else{
                    bootbox.alert("错误#getQr！"+result.message);
                }
            },
            error: function () {
                console.log("请求异常#getQr")
            }
        });

    };

    function login(key) {
        $.ajax({
            url: "/robwk/login?_ck=" + key,
            success: function (result) {
                if (result.code == '00'){
                    $('#wxqr_nickname').html("登录成功,正在加载数据");
                    wxinit(key);
                }else{
                    $('#qrModal').modal('hide');
                    bootbox.alert("错误#login！"+result.message);
                }
            },
            error: function () {
                $('#qrModal').modal('hide');
                console.log("请求异常#login")
            }
        });
    }

    function wxinit(key) {
        $.ajax({
            url: "/robwk/init?_ck=" + key,
            success: function (result) {
                if (result.code == '00'){
                    $('#qrModal').modal('hide');
                    refreshTable();
                }else{
                    $('#qrModal').modal('hide');
                    bootbox.alert("错误#wxinit！"+result.message);
                }
            },
            error: function () {
                $('#qrModal').modal('hide');
                console.log("请求异常#init")
            }
        });
    }

    function clearQrModel() {
        $("#wxqrimg").attr("src", "/assets/fileinput/img/loading.gif");
        $("#wxqr_nickname").html("");
    }

    // 延时请求刷新列表
    function refreshTable() {
        debounce(function () {
            $('#rob_config').bootstrapTable('refresh', {
                url : search_url
            });
        },200);
    }

    function openEditRemark(id,oldRemark) {
        bootbox.prompt("修改编号【"+id+"】的备注【"+oldRemark+"】吗?",function (result) {
            if (result != null){
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url:"/rob/changeRemark",
                    data:JSON.stringify({
                        rid : id,
                        remark : result
                    }),
                    contentType: "application/json; charset=utf-8",
                    success:function(result){
                        if (result.code == '00'){
                            bootbox.alert(result.message);
                            refreshTable();
                        } else{
                            bootbox.alert("错误！"+result.message);
                        }
                    },
                    error : function() {
                        bootbox.alert("请求异常");
                    }
                });
            }
        });
    }

</script>
#end