#@layout()

#define main()
<ol class="breadcrumb">
    #if(form.outKey ??)
    <li><a href="/qyq?ok=#(form.outKey ??)">#(form.outKey ??)的配置</a></li>
    #else
    <li><a href="/qyq">所有配置</a></li>
    #end
    <li class="active">#if(isEdit)修改#else添加#end配置</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">#if(isEdit)修改#else添加#end配置</h3>
    </div>
    <div class="panel-body">
        <div class="well" ><span style="color: red">预防发错，谨慎填写内容！</span></div>
        <div class="well" >
            <form class="form-horizontal"  role="form" id="addForm">
                <div class="form-group">
                    <label for="id" class="col-sm-2 control-label"  #if(!isEdit) hidden #end>记录ID:</label>
                    <div class="col-sm-4"  #if(!isEdit) hidden #end>
                        <input type="text" class="form-control" id="id" name="id" value="#(form.id ??)" readonly>
                    </div>
                    <label for="outKey" class="col-sm-2 control-label">外接码:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="outKey" name="outKey" value="#(form.outKey ??)" #if(form.outKey ??) readonly #end)>
                    </div>
                </div>
                <div class="form-group">
                    <label for="appId" class="col-sm-2 control-label">应用</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="appId" name="appId">
                            <option value=""></option>
                            #set(fg = form.appId ??)
                            #for( app : apps ??)
                            <option value="#(app.id)" #if(fg == app.id) selected #end>#(app.id ??) #(app.name ??)</option>
                            #end
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pyqId" class="col-sm-2 control-label">亲友圈ID:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="pyqShowId" name="pyqShowId" value="#(form.pyqShowId ??)" placeholder="PyqInfo的SHOW_ID字段">
                    </div>
                    <label for="pyqId" class="col-sm-2 control-label">亲友圈记录ID:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="pyqId" name="pyqId" value="#(form.pyqId ??)" placeholder="PyqInfo的ID或PyqRecordLog_temp的ID">
                    </div>
                </div>
                <div class="form-group">
                    <label for="img" class="col-sm-2 control-label" >图片ID</label>
                    <div class="col-sm-4" >
                        <input type="text" class="form-control" id="img" name="img" value="#(form.img ??)">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-small" onclick="checkImg()">验证图片</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-8 col-sm-2">
                        <button type="reset" class="btn btn-default btn-lg btn-block" #if(isEdit) disabled #end>重置</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="openAddModel()">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addPostModalLabel">确认#if(isEdit)修改#else添加#end配置吗？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="addPost()">确认</button>
            </div>
        </div>
    </div>
</div>
#end

#define css()
<link href="/assets/css/bootstrapValidator.min.css" rel="stylesheet">
<link href="/assets/fileinput/css/fileinput.min.css" rel="stylesheet">
#end

#define js()
<script src="/assets/js/bootstrapValidator.min.js"></script>
<script src="/assets/js/lang/bootstrapValidator_zh_CN.js"></script>
<script src="/assets/fileinput/js/fileinput.min.js"></script>
<script src="/assets/fileinput/js/locales/zh.js"></script>
<script type="text/javascript">
    var addFormValid;

    $(function () {

        addFormValid = $('#addForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                outKey: {
                    validators: {
                        notEmpty: {
                            message: '外接码不能为空'
                        }
                    }
                },
                appId: {
                    validators: {
                        notEmpty: {
                            message: '应用不能为空'
                        }
                    }
                },
                pyqShowId: {
                    validators: {
                        notEmpty: {
                            message: '亲友圈ID不能为空,联系技术管理员'
                        }
                    }
                },
                pyqId: {
                    validators: {
                        notEmpty: {
                            message: '亲友圈记录ID不能为空,联系技术管理员'
                        }
                    }
                },
                img: {
                    validators: {
                        notEmpty: {
                            message: '图片ID不能为空'
                        }
                    }
                }
            }
        });

    });


    function checkImg() {
        var img_src = $('#img').val();
        if (img_src != ''){
            bootbox.alert("<img id=\"showImg\" class=\"img-thumbnail\" style=\"width: 300px;\" src=\"#(imgdomain)"+img_src+"\">");
        }
    }

    function openAddModel() {
        addFormValid.bootstrapValidator('validate');
        if ( $("#addForm").data('bootstrapValidator').isValid()){
            // 显示模态框
            $('#addPostModal').modal('show');
        }
    }

    // 保存定时器ID
    var tid = null;
    //延迟执行函数
    function debounce(fn,wait){
        //设定默认的延迟时间
        wait=wait||500;
        //清除定时器
        tid && clearTimeout(tid);
        //定时器执行
        tid=setTimeout(fn,wait);
    };

    function addPost() {
        addFormValid.bootstrapValidator('validate');
        if ( $("#addForm").data('bootstrapValidator').isValid()){

            var fv = $('#addForm').serializeObject();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/qyq/editPost" ,
                data: JSON.stringify(fv),
                contentType: "application/json",
                success: function (result) {
                    $('#addPostModal').modal('hide');
                    if (result.code == '00'){
                        bootbox.alert(result.message);
                        var data = result.data;
                        debounce(function () {
                            window.top.location = '/qyq?ok='+data.outKey;
                        },1500);
                    } else{
                        bootbox.alert("请求异常:"+result.message);
                    }
                },
                error : function() {
                    $('#addPostModal').modal('hide');
                    bootbox.alert("请求异常!");
                }
            });
        }
    }


</script>
#end