<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>鸡气人管理</title>

	<meta name="description" content="overview &amp; stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/assets/css/fonts.googleapis.com.css" />
	<link rel="stylesheet" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
	<link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
	<link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
	<link rel="stylesheet" href="/assets/css/bootstrap-tab.css" />

</head>
<body class="no-skin">
<div id="navbar" class="navbar navbar-default  ace-save-state">
	<div class="navbar-container ace-save-state" id="navbar-container">
		<!--<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">-->
			<!--<span class="sr-only">Toggle sidebar</span>-->

			<!--<span class="icon-bar">1212</span>-->

			<!--<span class="icon-bar">1231231</span>-->

			<!--<span class="icon-bar">123123</span>-->
		<!--</button>-->

		<div class="navbar-header pull-left">
			<a href="/" class="navbar-brand">
				<small>
					<i class="fa fa-leaf"></i>
					管理后台
				</small>
			</a>
		</div>

		<div class="navbar-buttons navbar-header pull-right" >
			<ul class="nav ace-nav">
				<li class="light-blue dropdown-modal">
					<a data-toggle="dropdown" href="#" class="dropdown-toggle">
						<span class="user-info">
									<small>你好,</small>
									#(username)
								</span>
					</a>
				</li>
				<li>
					<a href="/logout">
						<i class="ace-icon fa fa-power-off"></i>
						Logout
					</a>
				</li>
			</ul>
		</div>
	</div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
	<div id="sidebar" class="sidebar responsive  ace-save-state">
		<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
			<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
		</div>
		<ul id="menu">
		</ul>

	</div>

	<div class="main-content">

		<div class="nav-my-tab">
			<li class="leftbackward"><a href="#" >
				<i class="fa fa-angle-double-left"></i></a>
			</li>
			<li class="rightforward"><a href="#">
				<i class="fa fa-angle-double-right"></i></a>
			</li>
			<li class="middletab">
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#Index" role="tab" data-toggle="tab">
						<span class="glyphicon glyphicon-home"></span>首页</a>
					</li>
				</ul>
			</li>

		</div>


		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="Index" style="height: 100%">
				<h2>欢迎进入后台管理系统</h2><br>
				<div><button id="wxloginPost">微信登录</button></div><br>
				<div id="loginwx_tip"></div>
				<div><p>下方出现二维码后请立即扫描</p><br>
				<div><img id="wxqrimg" src="#" style="width: 300px;height: 300px"></div><br>
				<div><button id="wxlogout">微信退出</button></div><br>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="footer-inner">
			<div class="footer-content">
						<span class="bigger-120">
							WX鸡气人管理后台
						</span>
			</div>
		</div>
	</div>

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div>

<!-- basic scripts -->



<script src="/assets/js/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<!-- page specific plugin scripts -->
<!--[if lte IE 8]>
<script src="/assets/js/excanvas.min.js"></script>
<![endif]-->
<script src="/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/jquery.easypiechart.min.js"></script>
<script src="/assets/js/jquery.sparkline.index.min.js"></script>
<script src="/assets/js/jquery.flot.min.js"></script>
<script src="/assets/js/jquery.flot.pie.min.js"></script>
<script src="/assets/js/jquery.flot.resize.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/bootstrap-tab.js"></script>
<!-- ace scripts -->
<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace-extra.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<!-- inline scripts related to this page -->
<script src="/assets/js/sidebar-menu/sidebar-menu.js"></script>
<script src="/dist/js/all.js"></script>
<script type="text/javascript">
    var coreKey = "24_100_1";
    $(function () {
        //固定左边菜单的高度
        $('#sidebar').height($(window).height() - 80);

        $.ajax({url:"/menu/list",
            success:function(data){
                if (data.code == '00'){
                    $('#menu').sidebarMenu({
						data : data.data
					});
                }
            }
        });
		
    });

    $('#wxlogout')
        .click(
            function() {
                $.ajax({url:"/roblogin/logout?_ck="+coreKey,
                    success:function(result){
                        $("#loginwx_tip").html("<span style='color:green'>"
                            + data.message
                            + "</span>");
                    },
                    error : function() {
                        $("#loginwx_tip").html(
                            "<span style='color:red'>失败，请求异常</span>");
                    }
                });
			});

    // 登入请求
    $('#wxloginPost')
        .click(
            function() {

                $("#wxqrimg").attr("src","/robopr/getQr?_r=" + Math.random()+"&_ck="+coreKey);
				$.ajax({url:"/roblogin/init?_ck="+coreKey,
				success:function(result){
						$("#loginwx_tip").html("<span style='color:green'>"
							+ data.message
							+ "</span>");
					},
					error : function() {
						$("#loginwx_tip").html(
							"<span style='color:red'>失败，请求异常</span>");
					}
				});
    });
</script>
</body>
</html>
