<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts.googleapis.com.css" />
    <link href="https://cdn.bootcss.com/ionicons/4.1.2/css/ionicons.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-fileinput/4.1.9/css/fileinput.min.css" rel="stylesheet">
</head>
<body class="no-skin">
<div class="panel panel-success">
    <div class="panel-heading">机器人状态</div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">机器人配置</h3>
    </div>
    <div class="panel-body">
        <div>
            <form class="form-horizontal"  id="editRobForm">
                <div class="form-group">
                    <label for="appid" class="col-sm-2 control-label">渠道号:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="appid" name="appid" disabled>
                            #for(ap : apps)
                                <option value="#(ap.id)" #if(ap.id == coreConf.appId ??) selected #end>#(ap.id)-#(ap.name)</option>
                            #end
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="numAccount" class="col-sm-2 control-label">邀请码:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="numAccount" name="numAccount" placeholder="请优先填写代理邀请码" value="#(coreConf.numAccount ??)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="remark" class="col-sm-2 control-label">机器昵称:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="remark" name="remark" placeholder="请优先填写机器人微信号，用于菜单显示" value="#(remark ??)" disabled>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <!--method="post" enctype="multipart/form-data" action="/upload/img2local?fn=#(coreConf.coreKey)" -->
            <form class="form-horizontal" >
                <div class="form-group">
                    <label for="cashImgSource" class="col-sm-2 control-label">收款图:</label>
                    <div class="col-sm-4">
                        <img id="cashImgSource" src="#(cashImgUrl)" style="width: 100%"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">关键字配置</div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div>
    <input id="cashimgfile" type="file" class="file" multiple >
</div>
<script src="https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/dist/js/all.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.1.9/js/fileinput.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.1.9/js/fileinput_locale_zh.min.js"></script>
<script type="text/javascript">

    $(function () {

        $('#cashimgfile').fileinput({
            language: 'zh',
            uploadUrl: '/upload/img2local?fn=#(coreConf.coreKey)',
            allowedFileExtensions: ['jpg', 'gif', 'png'],
            maxFileSize: 100,
            maxFileCount: 1,
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}!",
            browseClass: 'btn btn-primary'
        });

        // //导入文件上传完成之后的事件
        // $('#cashImg').on("fileuploaded", function (event, data, previewId, index) {
        //     console.log(data);
        //     if (data.code == '00'){
        //
        //         //刷新二维码
        //         // $("#cashImgSource").attr("src",new_src+'?'+Math.random());
        //     }
        // });

    });
</script>
</body>
</html>



