#@layout()

#define main()
<div>
    <form class="form-inline" >
        <div class="form-group">
            <label for="search_out_key">外部唯一码</label>
            <input type="text" class="form-control" id="search_out_key" value="#(search_ok ??)">
        </div>
        <div class="form-group" >
            <label for="search_unique_key">机器唯一码</label>
            <input type="text" class="form-control" id="search_unique_key" value="#(search_uk ??)">
        </div>
        <div class="form-group">
            <label for="search_nick_name">目标昵称</label>
            <input type="text" class="form-control" id="search_nick_name" placeholder="右模糊查询">
        </div>
        <div class="form-group">
            <label for="search_togrp">是否群聊</label>
            <select class="form-control" id="search_togrp" aria-describedby="search_togrp">
                <option value="" selected="selected">全部</option>
                <option value="1">群聊</option>
                <option value="0">好友</option>
            </select>
        </div>
        <div class="form-group">
            <label for="search_enable">是否已启用</label>
            <select class="form-control" id="search_enable" aria-describedby="search_enable">
                <option value="" selected="selected">全部</option>
                <option value="1">是</option>
                <option value="0">否</option>
            </select>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="searchPost">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜索
            </button>
        </div>
    </form>
</div>

<div class="tableBody">
    <table id="out_config" class="table table-hover"></table>
</div>
#end

#define css()
<link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet">
<link href="/assets/css/bootstrap-switch.min.css" rel="stylesheet">
#end

#define js()
<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/assets/js/bootstrap-switch.min.js"></script>
<script type="text/javascript">

    var search_url = "/relate/list";


    $(document)
        .ready(
            function() {

                $('#out_config').bootstrapTable(
                        {
                            method : 'post',// post/get
                            contentType : "application/x-www-form-urlencoded",// 'application/json'
                            undefinedText : '暂无数据',
                            striped : true,// 隔行变色true/false
                            dataType : 'json',
                            url : search_url,//接口路径
                            pagination : true,// 是否开启分页
                            pageNumber : 1,// 初始化加载第一页，默认第一页
                            pageSize : 10,// 每页的记录行数（*）
                            pageList : [ 10, 20, 30 ],// 可供选择的每页的行数（*）
                            sidePagination : "server", // 分页方式：client客户端分页，server服务端分页（*）
                            queryParams : function queryParams(
                                params) {

                                params.outKey = $('#search_out_key').val();
                                params.uniqueKey = $('#search_unique_key').val();
                                params.nickName = $('#search_nick_name').val();
                                params.enable = $('#search_enable').val();
                                params.togrp = $('#search_togrp').val();

                                return params;// 分页下默认limit,offset,order
                            },// 查询函数
                            queryParamsType : 'limit',
                            locale : 'zh-CN',// 中文支持
                            showColumns : 'true',
                            showRefresh : 'true',
                            sortOrder : 'desc',//默认排序
                            // showPaginationSwitch:'true',
                            clickToSelect : 'true',// 是否启用点击选中行
                            toolbarAlign : 'left',
                            buttonsAlign : 'right',// 按钮对齐方式
                            paginationPreText : "<",// 上一页按钮显示文本
                            paginationNextText : ">",// 下一页显示文本
                            paginationLoop : false,// 分页无限循环
                            showToggle : false,// 显示
                            // 切换试图（table/card）按钮
                            detailView : false,
                            detailFormatter : function(index, row) {// detailView要改成true时,用于查看更多信息,点击列头加号展开
                                return '';
                            },
                            toolbar : "#toolbar",
                            columns : [

                                {
                                    field : 'id',
                                    title : '编号',
                                    align : 'center',
                                    valign : 'middle',
                                },
                                {
                                    field : 'outKey',
                                    title : '外接唯一码',
                                    align : 'center',
                                    valign : 'middle',
                                },
                                {
                                    field : 'uniqueKey',
                                    title : '唯一机器码',
                                    align : 'center',
                                    valign : 'middle',
                                },
                                {
                                    field : 'nickName',
                                    title : '回复对象',
                                    align : 'center',
                                    valign : 'middle',
                                    formatter : function(value,
                                                         row, index) {
                                        var result = "";
                                        var toGroup = row['toGroup'];
                                        if (toGroup){
                                            result += "<span class='label label-success'>群</span> ";
                                        } else{
                                            result += "<span class='label label-info'>友</span> ";
                                        }
                                        result+= value;
                                        return result;
                                    }
                                },
                                {
                                    field : 'whiteList',
                                    title : 'IP白名单',
                                    align : 'center',
                                    valign : 'middle',
                                },
                                {
                                    field : 'enable',
                                    title : '是否启用',
                                    align : 'center',
                                    valign : 'middle',
                                    formatter : function(value,
                                                         row, index) {
                                        var result = "";
                                        var diff = "";
                                        if (value){
                                            diff = " checked ";
                                        }
                                        result = "<input name='my-checkbox' type='checkbox' data-rid='"+row['id']+"' data-type='enable' data-typename='启禁开关' "+ diff +" >";
                                        return result;
                                    }
                                },
                                {
                                    field : 'edit',
                                    title : '编辑',
                                    align : 'center',
                                    valign : 'middle',
                                    formatter : function(value,
                                                         row, index) {
                                        var bt_edit = "<a type='button' class='btn btn-warning' href='/relate/editIndex?kid="+row.id+"'>编辑</a>";
                                        var bt_del =  "<button type='button' class='btn btn-danger' onclick='delPost(\""+row.id+"\")' >删除</button>";

                                        var element = "<div class='btn-group btn-group-sm' role='group' aria-label='table_tool'>"
                                            + bt_edit
                                            + bt_del
                                            + "</div>"
                                        return element;
                                    }
                                }
                            ],
                            onLoadSuccess:function(){
                                $("[name='my-checkbox']").bootstrapSwitch({
                                    onText:"已开启",
                                    offText:"已关闭",
                                    onColor:"success",
                                    offColor:"danger",
                                    size:"mini",
                                    labelWidth:0,
                                    onSwitchChange:function(event,state){
                                        var data_map = event.currentTarget.dataset;
                                        var kid = data_map.rid;
                                        var type = data_map.type;
                                        var typename = data_map.typename;
                                        var statename = "关闭";
                                        if (state){
                                            statename = "打开";
                                        }
                                        var data = {kid:kid};
                                        if (type == "enable"){
                                            data.enable = state;
                                        }
                                        bootbox.confirm("<h4>确定 【"+statename+"】编号【"+kid+"】的【"+ typename +"】吗？</h4>",function(result){
                                            if (result){
                                                $.ajax({
                                                    type: "POST",
                                                    dataType: "json",
                                                    url:"/relate/editRelate",
                                                    data:JSON.stringify(data),
                                                    contentType: "application/json; charset=utf-8",
                                                    success:function(result){
                                                        if (result.code == '00'){
                                                            bootbox.alert(result.message);
                                                        } else{
                                                            bootbox.alert("错误！"+result.message);
                                                            refreshTable();
                                                        }
                                                    },
                                                    error : function() {
                                                        bootbox.alert("请求异常");
                                                        refreshTable();
                                                    }
                                                });
                                            }else{
                                                refreshTable();
                                            }

                                        });
                                    }
                                });
                            }

                        });

                // 查询按钮事件
                $('#searchPost').click(function() {
                    $('#out_config').bootstrapTable('refresh', {
                        url : search_url
                    });
                });
            });


    function delPost(kid) {
        bootbox.confirm("确定删除编号【"+kid+"】的外接配置记录吗？",function (result) {
            if (result){
                $.get("/relate/delRelation",
                    { kid : kid},
                    function(data,status){
                        if (status == 'success'){
                            bootbox.alert(data.message);
                        } else{
                            bootbox.alert("请求异常:"+status);
                        }
                });
            }
        });
    }


    // 保存定时器ID
    var tid = null;
    //延迟执行函数
    function debounce(fn,wait){
        //设定默认的延迟时间
        wait=wait||500;
        //清除定时器
        tid && clearTimeout(tid);
        //定时器执行
        tid=setTimeout(fn,wait);
    };

    // 延时请求刷新列表
    function refreshTable() {
        debounce(function () {
            $('#kw_config').bootstrapTable('refresh', {
                url : search_url
            });
        },200);
    }

</script>
#end